@media (max-width: 996px) {
  .navbar_search_styles {
    position: relative;
    right: calc(var(--ifm-navbar-item-padding-horizontal) * 0.55);
  }
}

@media (min-width: 997px) {
  .navbar_search_styles {
    padding: var(--ifm-navbar-item-padding-vertical)
      calc(var(--ifm-navbar-item-padding-horizontal) * 0.55);
  }
}